:root {
  --bg-primary: #130E18;
  --bg-secondary: #211929;
  --bg-tertiary: #43374F;
  --bg-yellow: #FFB906;
  --color-text: #FFFFFF;

  --font-family-noto: 'Noto-Sans', sans-serif;
  --font-weight-400: 400;
  --font-weight-700: 700;
}


/* //////////////////////////////>>>  GENERALES */
body {
  background-color: var( --bg-primary );
  font-family: var( --font-family-noto );
}
h1, h2 {
  font-family: var( --font-family-noto );
  font-weight: var( --font-weight-700 );
  color: var( --color-text );
}
.cartel-name {
  display: block;
  font-family: var( --font-family-noto );
  font-weight: var( --font-weight-400 );
  font-size: 14px;
  line-height: 18px;
}
.header-movies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-movies .btn-more {
  border-radius: 5px;
  border: none;
  background-color: var( --bg-yellow );
  color: var( --color-text );
  font-family: var( --font-family-noto );
  font-weight: var( --font-weight-700 );
  padding: 2px 8px;
}
.valoration {
  display: flex;
  align-items: center;
  gap: 6px;
}
.valoration img {
  width: 15px;
}
.valoration .puntuacion-number {
  font-family: var( --font-family-noto );
  font-weight: var( --font-weight-400 );
  color: #FFF;
}
.name-valor-movie {
  position: relative;
  background: var( --bg-secondary );
  padding: 6px 8px;
  min-height: 75px;
  z-index: 1;
}
.btn-main {
  width: 110px;
  border-radius: 8px;
  background: #FFB906;
  color: var( --color-text );
  font-family: var( --font-family-noto );
  font-size: 20px;
  font-weight: var( --font-weight-700 );
  padding: 4px 20px;
  border: none;
}
.row-movies {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 18px;
  overflow-x: scroll;
  width: 100%;
  padding-bottom: 14px;
}
.row-movies::-webkit-scrollbar {
  height: 10px;
}
.row-movies::-webkit-scrollbar-thumb {
  background-color: var( --bg-yellow ); /* Color del thumb */
  border-radius: 5px; /* Radio de borde del thumb */
}
.row-movies::-webkit-scrollbar-thumb:hover {
  background-color: var( --bg-yellow ); /* Color del thumb en estado hover */
}
.row-movies::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del track */
  border-radius: 5px;
}
.contain-movie {
  width: 230px;
  background-color: var( --bg-secondary );
  color: var( --color-text );
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.movie-img {
  width: 230px;
  border-radius: 8px 8px 0 0;
  transition: .6s;
}
.movie-img:hover {
  transform: scale(1.2);
}
.section-trending, .section-popular {
  margin-top: 35px;
}


/* //////////////////////////////>>>  NAVBAR */
.navbar {
  background-color: var( --bg-secondary );
  backdrop-filter: blur( 5px );
}
.navbar-nav {
  color: var( --color-text );
}
.search-categories .category-container,
.categories-list .category-container {
  background: var( --bg-secondary );
  min-width: 120px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}
.search-categories .category-title,
.categories-list .category-title {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  font-family: var( --font-family-noto );
  font-size: 14px;
  font-weight: var( --font-weight-700 );
  color: var( --color-text );
  margin: 0;
  transition: .3s;
}
.search-categories .category-container:hover,
.categories-list .category-container:hover {
  background: var( --bg-yellow );
  color: var( --bg-secondary );
  transition: .3s;
}
.search-categories .category-container:hover .category-title {
  color: var( --bg-secondary );
  transition: .3s;
}
.navbar-nav .nav-link.active {
  background-color: var( --bg-yellow );
  color: var( --color-text );
  border-radius: 4px;
}


/* //////////////////////////////>>>  SECTION MAIN PORTADA */
.section-main-portada {
  background-image: url( '../images/portada.png' );
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 80px;
  width: 100%;
  height: 550px;
}
.datos-portada {
  width: 641px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.details {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}
.details span {
  font-family: var( --font-family-noto );
  font-weight: var( --font-weight-400 );
  color: var( --color-text );
  font-size: 20px;
}
.description-portada span {
  font-family: var( --font-family-noto );
  font-weight: var( --font-weight-400 );
  color: var( --color-text );
  font-size: 20px;
}
.section-search-categories {
  margin-top: 120px;
}


/* //////////////////////////////>>>  BÚSQUEDA Y CATEGORÍAS */
.input-movie {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}
.input-search-movie {
  background-color: var( --bg-tertiary );
  font-family: var( --font-family-noto );
  color: var( --color-text );
  border-radius: 8px 0px 0px 8px;
  width: 535px;
  border: none;
  padding: 8px 17px;
  outline: none;
}
.input-movie button {
  background-color: var( --bg-yellow );
  color: var( --color-text );
  font-weight: var( --font-weight-700 );
  border-radius: 0px 8px 8px 0px;
  border: none;
  padding: 8px 18px;
}
.search-categories ul {
  gap: 10px;
  padding: 0;
}
.search-categories li {
  background-color: var( --bg-secondary );
  padding: 5px 10px;
  border-radius: 8px;
  list-style: none;
}
.search-categories li a {
  font-family: var( --font-family-noto );
  font-weight: var( --font-weight-700 );
  color: var( --color-text );
  text-decoration: none;
}


/* //////////////////////////////>>>  SECTION DETALLES DE UNA PELÍCULA */
.movie-img-tapa {
  width: 306px;
}
.section-movie-details .movie-principal {
  background-image: linear-gradient(0deg, rgba(19, 14, 24, 0.45) 0%, rgba(19, 14, 24, 0.45) 100%), url( '../images/backgroundMovie.jpg' );
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100%;
  height: 600px;
  margin: 80px 0 60px;
}
.movie-principal article {
  position: relative;
  transform: translateY( -50% );
  top: 50%;
}
.movie-principal .datos {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}
.movie-principal .datos span {
  color: #FFF;
  font-family: var( --font-family-noto );
  font-size: 18px;
  font-weight: var( --font-weight-400 );
}
.movie-principal .movie-title {
  color: #FFF;
  font-family: var( --font-family-noto );
  font-size: 48px;
  font-weight: var( --font-weight-700 );
}
.movie-principal .movie-detail {
  color: #FFF;
  font-family: var( --font-family-noto );
  font-size: 20px;
  font-weight: var( --font-weight-400 );
}


/* //////////////////////////////>>>  SECTION POR CATEGORIA INDIVIDUAL */
.row-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}


/* //////////////////////////////>>>  SECTION MOVIES POR CATEGORIAS*/
.contain-movie-general {
  width: 100%;
  background-color: var(--bg-secondary );
  color: var(--color-text );
  border-radius: 18px;
  padding: 0;
  overflow: hidden;
}
.contain-movie-general .movie-img {
  max-width: 100%;
  width: inherit;
  border-radius: 18px 18px 0 0;
}


/* //////////////////////////////>>>  SECTION MOVIES POR CATEGORIAS*/
.categories-list {
  margin-top: 25px;
}


/* //////////////////////////////>>>  FOOTER */
.section-footer {
  margin-top: 153px;
  background: var( --bg-secondary );
}
.section-footer .row-logos {
  padding: 26px 0;
}
.section-footer .ico-tdb {
  width: 130px;
}
.section-footer .ico-tpcm {
  width: 110px;
}
.section-footer .marca-registrada {
  font-family: var( --font-family-noto );
  font-weight: var( --font-weight-700 );
  color: #737373;
  text-align: center;
  display: block;
  padding: 26px 0;
}


.inactive {
  display: none;
}